.container {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 5px;
  background-color: rgb(37, 37, 37);
  color: white;
}

.blue {
  background-color: rgb(20, 20, 160) !important;
}

.col {
  padding-left: 0 !important;
}
