.container {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 5px;
  background-color: rgb(37, 37, 37);
  color: white;
  padding-right: 10px;
}

.col {
  padding-left: 0 !important;
}

h3 {
  margin-left: 0;
  border-left: 10px solid  #2962FF;
  padding: 20px;
}
p, h5 {
  margin-left: 40px;
  margin-top: 10px;
}
